<div class="Unauthorized-message">  
  <h1>You are not authorized to view this application</h1>
  <br>
  {{!-- Customize your message below: --}}
  <p>If you think this might be an error, please <a href="mailto:tech@ted.com?subject=%20request%20for%20<%=classifiedPackageName %>%20app%20access%20">contact the TED Tech Team</a>.</p>
  <br>
</div>